In [1]:
import pandas as pd
import numpy as np
import random

Read the data frame

In [2]:
df = pd.read_csv('2022 World Cup.csv')
df

    No.        Nation      Region Date qualified   WC apps Titles (Last)
0     1        Qatar         Asia   Dec. 2, 2010   1 of 22             —
1     2       Germany      Europe  Oct. 11, 2021  20 of 22      4 (2014)
2     3       Denmark      Europe  Oct. 12, 2021   6 of 22             —
3     4        Brazil  S. America  Nov. 11, 2021  22 of 22      5 (2002)
4     5        France      Europe  Nov. 13, 2021  16 of 22      2 (2018)
5     6       Belgium      Europe  Nov. 13, 2021  14 of 22             —
6     7       Croatia      Europe  Nov. 14, 2021   6 of 22             —
7     8         Spain      Europe  Nov. 14, 2021  16 of 22      1 (2010)
8     9        Serbia      Europe  Nov. 14, 2021   4 of 22             —
9    10       England      Europe  Nov. 15, 2021  16 of 22      1 (1966)
10   11   Switzerland      Europe  Nov. 15, 2021  12 of 22             —
11   12   Netherlands      Europe  Nov. 16, 2021  11 of 22             —
12   13     Argentina  S. America  Nov. 16, 2021  18 of 22      2 (1986)
13   14          Iran        Asia  Jan. 27, 2022   6 of 22             —
14   15   South Korea        Asia   Feb. 1, 2022  11 of 22             —
15   16         Japan        Asia  Mar. 24, 2022   7 of 22             —
16   17  Saudi Arabia        Asia  Mar. 24, 2022   6 of 22             —
17   18       Ecuador  S. America   Mar. 24 2022   4 of 22             —
18   19       Uruguay  S. America  Mar. 24, 2022  14 of 22      2 (1950)
19   20        Canada  N. America  Mar. 27, 2022   2 of 22             —
20   21         Ghana      Africa  Mar. 29, 2022   4 of 22             —
21   22       Senegal      Africa  Mar. 29, 2022   3 of 22             —
22   23      Portugal      Europe  Mar. 29, 2022   8 of 22             —
23   24        Poland      Europe  Mar. 29, 2022   9 of 22             —
24   25       Tunisia      Africa  Mar. 29, 2022   6 of 22             —
25   26       Morocco      Africa  Mar. 29, 2022   6 of 22             —
26   27      Cameroon      Africa  Mar. 29, 2022   8 of 22             —
27   28           USA  N. America  Mar. 30, 2022  11 of 22             —
28   29        Mexico  N. America  Mar. 30, 2022  17 of 22             —
29   30         Wales      Europe   June 5, 2022   2 of 22             —
30   31     Australia        Asia  June 13, 2022   6 of 22             —
31   32    Costa Rica  N. America  June 14, 2022   6 of 22             —

Create list of all region, each region contain qualified countries from this region

In [3]:
Europe = df[df['Region'] == 'Europe'].Nation
Europe = list(Europe)
Europe

['Germany',
 'Denmark',
 'France',
 'Belgium',
 'Croatia',
 'Spain',
 'Serbia',
 'England',
 'Switzerland',
 'Netherlands',
 'Portugal',
 'Poland',
 'Wales']

In [4]:
Asia = df[df['Region'] == 'Asia'].Nation
Asia = list(Asia)
Asia

['Qatar ', 'Iran', 'South Korea', 'Japan', 'Saudi Arabia', 'Australia']

In [5]:
Africa = df[df['Region'] == 'Africa'].Nation
Africa = list(Africa)
Africa

['Ghana', 'Senegal', 'Tunisia', 'Morocco', 'Cameroon']

In [6]:
SouthAmerica = df[df['Region'] == 'S. America'].Nation
SouthAmerica = list(SouthAmerica)
SouthAmerica

['Brazil', 'Argentina', 'Ecuador', 'Uruguay']

In [7]:
NorthAmerica = df[df['Region'] == 'N. America'].Nation
NorthAmerica = list(NorthAmerica)
NorthAmerica

['Canada', 'USA', 'Mexico', 'Costa Rica']

Create 8 groups, each group contains 4 teams

In [8]:
pot1 = ['Qatar', 'Brazil', 'Belgium', 'France', 'Argentina', 'England', 'Spain', 'Portugal']
pot2 = ['Netherlands', 'Germany', 'Mexico', 'USA', 'Switzerland', 'Denmark', 'Croatia', 'Uruguay']
pot3 = ['Senegal', 'Iran', 'Japan', 'Morocco', 'Serbia', 'Poland', 'South Korea', 'Tunisia']
pot4 = ['Cameroon', 'Canada', 'Ecuador', 'Ghana', 'Saudi Arabia', 'Wales', 'Australia', 'Costa Rica']

In [9]:
g1=[]
g2=[]
g3=[]
g4=[]
g5=[]
g6=[]
g7=[]
g8=[]

In [10]:
pot1 = random.sample(pot1,8)

g1.append(pot1[0])
g2.append(pot1[1])
g3.append(pot1[2])
g4.append(pot1[3])
g5.append(pot1[4])
g6.append(pot1[5])
g7.append(pot1[6])
g8.append(pot1[7])

In [11]:
def num_commons(list1, list2):
    n=0
    for element in list1:
        if element in list2:
            n+=1

    return n

In [12]:
for __ in range(1000):
    pot2 = random.sample(pot2,8)
    g1.append(pot2[0])
    g2.append(pot2[1])
    g3.append(pot2[2])
    g4.append(pot2[3])
    g5.append(pot2[4])
    g6.append(pot2[5])
    g7.append(pot2[6])
    g8.append(pot2[7])

    if num_commons(g1, SouthAmerica) >1:
        g1.pop()
        g2.pop()
        g3.pop()
        g4.pop()
        g5.pop()
        g6.pop()
        g7.pop()
        g8.pop()
        continue

    if num_commons(g2, SouthAmerica) >1:
        g1.pop()
        g2.pop()
        g3.pop()
        g4.pop()
        g5.pop()
        g6.pop()
        g7.pop()
        g8.pop()
        continue        
        
    if num_commons(g3, SouthAmerica) >1:
        g1.pop()
        g2.pop()
        g3.pop()
        g4.pop()
        g5.pop()
        g6.pop()
        g7.pop()
        g8.pop()
        continue        
        
    if num_commons(g4, SouthAmerica) >1:
        g1.pop()
        g2.pop()
        g3.pop()
        g4.pop()
        g5.pop()
        g6.pop()
        g7.pop()
        g8.pop()
        continue        
    break

In [13]:
for __ in range(1000):
    g1.append(random.sample(pot3,1)[0])
    print(g1)
    print(num_commons(g1,Europe))
    if num_commons(g1,Europe) > 2:
        g1.pop()
        continue

    if num_commons(g1,Asia)>1:
        g1.pop()
        continue

    if num_commons(g1,SouthAmerica)>1:
        g1.pop()
        continue

    if num_commons(g1,NorthAmerica)>1:
        g1.pop()
        continue
    
    break

pot3.remove(str(g1[-1]))

['England', 'Uruguay', 'Japan']
1

In [14]:
for __ in range(1000):
    g2.append(random.sample(pot3,1)[0])
    print(g2)
    print(num_commons(g2,Europe))
    if num_commons(g2,Europe) > 2:
        g2.pop()
        continue

    if num_commons(g2,Asia)>1:
        g2.pop()
        continue

    if num_commons(g2,SouthAmerica)>1:
        g2.pop()
        continue

    if num_commons(g2,NorthAmerica)>1:
        g2.pop()
        continue
    
    break

pot3.remove(str(g2[-1]))

['Portugal', 'Switzerland', 'Tunisia']
2

In [15]:
for __ in range(1000):
    g3.append(random.sample(pot3,1)[0])
    print(g3)
    print(num_commons(g3,Europe))
    if num_commons(g3,Europe) > 2:
        g3.pop()
        continue

    if num_commons(g3,Asia)>1:
        g3.pop()
        continue

    if num_commons(g3,SouthAmerica)>1:
        g3.pop()
        continue

    if num_commons(g3,NorthAmerica)>1:
        g3.pop()
        continue
    
    break

pot3.remove(str(g3[-1]))

['Spain', 'Denmark', 'Iran']
2

In [16]:
for __ in range(1000):
    g4.append(random.sample(pot3,1)[0])
    print(g4)
    print(num_commons(g4,Europe))
    if num_commons(g4,Europe) > 2:
        g4.pop()
        continue

    if num_commons(g4,Asia)>1:
        g4.pop()
        continue

    if num_commons(g4,SouthAmerica)>1:
        g4.pop()
        continue

    if num_commons(g4,NorthAmerica)>1:
        g4.pop()
        continue
    
    break

pot3.remove(str(g4[-1]))

['Belgium', 'USA', 'Senegal']
1

In [17]:
for __ in range(1000):
    g5.append(random.sample(pot3,1)[0])
    print(g5)
    print(num_commons(g5,Europe))
    if num_commons(g5,Europe) > 2:
        g5.pop()
        continue

    if num_commons(g5,Asia)>1:
        g5.pop()
        continue

    if num_commons(g5,SouthAmerica)>1:
        g5.pop()
        continue

    if num_commons(g5,NorthAmerica)>1:
        g5.pop()
        continue
    
    break

pot3.remove(str(g5[-1]))

['France', 'Mexico', 'Poland']
2

In [18]:
for __ in range(1000):
    g6.append(random.sample(pot3,1)[0])
    print(g6)
    print(num_commons(g6,Europe))
    if num_commons(g6,Europe) > 2:
        g6.pop()
        continue

    if num_commons(g6,Asia)>1:
        g6.pop()
        continue

    if num_commons(g6,SouthAmerica)>1:
        g6.pop()
        continue

    if num_commons(g6,NorthAmerica)>1:
        g6.pop()
        continue
    
    break

pot3.remove(str(g6[-1]))

['Qatar', 'Netherlands', 'Serbia']
2

In [19]:
for __ in range(1000):
    g7.append(random.sample(pot3,1)[0])
    print(g7)
    print(num_commons(g7,Europe))
    if num_commons(g7,Europe) > 2:
        g7.pop()
        continue

    if num_commons(g7,Asia)>1:
        g7.pop()
        continue

    if num_commons(g7,SouthAmerica)>1:
        g7.pop()
        continue

    if num_commons(g7,NorthAmerica)>1:
        g7.pop()
        continue
    
    break

pot3.remove(str(g7[-1]))

['Argentina', 'Germany', 'South Korea']
1

In [20]:
g8.append(pot3[0])

In [21]:
for __ in range(1000):
    g1.append(random.sample(pot4,1)[0])
    print(g1)
    print(num_commons(g1,Europe))
    if num_commons(g1,Europe) > 2:
        g1.pop()
        continue

    if num_commons(g1,Africa) > 1:
        g1.pop()
        continue

    if num_commons(g1,Asia)>1:
        g1.pop()
        continue

    if num_commons(g1,SouthAmerica)>1:
        g1.pop()
        continue

    if num_commons(g1,NorthAmerica)>1:
        g1.pop()
        continue
    
    break

pot4.remove(str(g1[-1]))

['England', 'Uruguay', 'Japan', 'Ghana']
1

In [22]:
for __ in range(1000):
    g2.append(random.sample(pot4,1)[0])
    print(g2)
    print(num_commons(g2,Europe))
    if num_commons(g2,Europe) > 2:
        g2.pop()
        continue

    if num_commons(g2,Africa) > 1:
        g2.pop()
        continue

    if num_commons(g2,Asia)>1:
        g2.pop()
        continue

    if num_commons(g2,SouthAmerica)>1:
        g2.pop()
        continue

    if num_commons(g2,NorthAmerica)>1:
        g2.pop()
        continue
    
    break

pot4.remove(str(g2[-1]))

['Portugal', 'Switzerland', 'Tunisia', 'Cameroon']
2
['Portugal', 'Switzerland', 'Tunisia', 'Cameroon']
2
['Portugal', 'Switzerland', 'Tunisia', 'Canada']
2

In [23]:
for __ in range(1000):
    g3.append(random.sample(pot4,1)[0])
    print(g3)
    print(num_commons(g3,Europe))
    if num_commons(g3,Europe) > 2:
        g3.pop()
        continue

    if num_commons(g3,Africa) > 1:
        g3.pop()
        continue

    if num_commons(g3,Asia)>1:
        g3.pop()
        continue

    if num_commons(g3,SouthAmerica)>1:
        g3.pop()
        continue

    if num_commons(g3,NorthAmerica)>1:
        g3.pop()
        continue
    
    break

pot4.remove(str(g3[-1]))

['Spain', 'Denmark', 'Iran', 'Saudi Arabia']
2
['Spain', 'Denmark', 'Iran', 'Cameroon']
2

In [24]:
for __ in range(1000):
    g4.append(random.sample(pot4,1)[0])
    print(g4)
    print(num_commons(g4,Europe))
    if num_commons(g4,Europe) > 2:
        g4.pop()
        continue

    if num_commons(g4,Africa) > 1:
        g4.pop()
        continue

    if num_commons(g4,Asia)>1:
        g4.pop()
        continue

    if num_commons(g4,SouthAmerica)>1:
        g4.pop()
        continue

    if num_commons(g4,NorthAmerica)>1:
        g4.pop()
        continue
    
    break

pot4.remove(str(g4[-1]))

['Belgium', 'USA', 'Senegal', 'Costa Rica']
1
['Belgium', 'USA', 'Senegal', 'Saudi Arabia']
1

In [25]:
for __ in range(1000):
    g5.append(random.sample(pot4,1)[0])
    print(g5)
    print(num_commons(g5,Europe))
    if num_commons(g5,Europe) > 2:
        g5.pop()
        continue

    if num_commons(g5,Africa) > 1:
        g5.pop()
        continue

    if num_commons(g5,Asia)>1:
        g5.pop()
        continue

    if num_commons(g5,SouthAmerica)>1:
        g5.pop()
        continue

    if num_commons(g5,NorthAmerica)>1:
        g5.pop()
        continue
    
    break

pot4.remove(str(g5[-1]))

['France', 'Mexico', 'Poland', 'Wales']
3
['France', 'Mexico', 'Poland', 'Australia']
2

In [26]:
for __ in range(1000):
    g6.append(random.sample(pot4,1)[0])
    print(g6)
    print(num_commons(g6,Europe))
    if num_commons(g6,Europe) > 2:
        g6.pop()
        continue

    if num_commons(g6,Africa) > 1:
        g6.pop()
        continue

    if num_commons(g6,Asia)>1:
        g6.pop()
        continue

    if num_commons(g6,SouthAmerica)>1:
        g6.pop()
        continue

    if num_commons(g6,NorthAmerica)>1:
        g6.pop()
        continue
    
    break

pot4.remove(str(g6[-1]))

['Qatar', 'Netherlands', 'Serbia', 'Costa Rica']
2

In [27]:
for __ in range(1000):
    g7.append(random.sample(pot4,1)[0])
    print(g7)
    print(num_commons(g7,Europe))
    if num_commons(g7,Europe) > 2:
        g7.pop()
        continue

    if num_commons(g7,Africa) > 1:
        g7.pop()
        continue

    if num_commons(g7,Asia)>1:
        g7.pop()
        continue

    if num_commons(g7,SouthAmerica)>1:
        g7.pop()
        continue

    if num_commons(g7,NorthAmerica)>1:
        g7.pop()
        continue
    
    break

pot4.remove(str(g7[-1]))

['Argentina', 'Germany', 'South Korea', 'Ecuador']
1
['Argentina', 'Germany', 'South Korea', 'Wales']
2

In [28]:
g8.append(pot4[0])

In [29]:
print(g1)
print(g2)
print(g3)
print(g4)
print(g5)
print(g6)
print(g7)
print(g8)

['England', 'Uruguay', 'Japan', 'Ghana']
['Portugal', 'Switzerland', 'Tunisia', 'Canada']
['Spain', 'Denmark', 'Iran', 'Cameroon']
['Belgium', 'USA', 'Senegal', 'Saudi Arabia']
['France', 'Mexico', 'Poland', 'Australia']
['Qatar', 'Netherlands', 'Serbia', 'Costa Rica']
['Argentina', 'Germany', 'South Korea', 'Wales']
['Brazil', 'Croatia', 'Morocco', 'Ecuador']

In [30]:
data = {'Group A':g1, 'Group B':g2, 'Group C':g3, 'Group D':g4, 'Group E':g5, 'Group F':g6, 'Group G':g7, 'Group H':g8}
Groups = pd.DataFrame(data)
Groups

,Group A,Group B,Group C,Group D,Group E,Group F,Group G,Group H
0,England,Portugal,Spain,Belgium,France,Qatar,Argentina,Brazil
1,Uruguay,Switzerland,Denmark,USA,Mexico,Netherlands,Germany,Croatia
2,Japan,Tunisia,Iran,Senegal,Poland,Serbia,South Korea,Morocco
3,Ghana,Canada,Cameroon,Saudi Arabia,Australia,Costa Rica,Wales,Ecuador

In [31]:
Groups.to_csv('output.csv')